<!DOCTYPE html>
<html>
  <head>
    <title>Space Shooter Pro API Documentation</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
  </head>
  <body>
    <h1>Space Shooter Pro API Documentation</h1>
    <h2>Table of Contents</h2>
    <ul>
      <li>
        <a href="#user_auth_management">User Authentication and Management</a>
      </li>
      <ul>
        <li><a href="#login">/login</a> (POST)</li>
        <li><a href="#register">/register</a> (POST)</li>
        <li><a href="#delete_user">/delete_user</a> (DELETE)</li>
        <li><a href="#logout">/logout</a> (POST)</li>
      </ul>
      <li><a href="#game_logic">Game Logic</a></li>
      <ul>
        <li><a href="#update_highscore">/update_highscore</a> (POST)</li>
        <li><a href="#highscore">/highscore</a> (GET)</li>
      </ul>
    </ul>

    <h2 id="user_auth_management">User Authentication and Management</h2>

    <h3 id="login">/login</h3>
    <p><strong>Method:</strong> <code class="method">POST</code></p>
    <p><strong>Description:</strong> Logs in a user.</p>
    <p><strong>Request Body:</strong></p>
    <pre>
    {
        "username": "your_username",
        "password": "your_password"
    }
    </pre>
    <p><strong>Response:</strong></p>
    <pre>
    {
        "response": {
            "success": "Successfully logged in",
            "session_token": "your_session_token"
        }
    }
    </pre>
    <p><strong>Error Response:</strong></p>
    <pre>
    {
        "error": "Invalid username or password"
    }
    </pre>

    <h3 id="register">/register</h3>
    <p><strong>Method:</strong> <code class="method">POST</code></p>
    <p><strong>Description:</strong> Registers a new user.</p>
    <p><strong>Request Body:</strong></p>
    <pre>
    {
        "username": "your_username",
        "password": "your_password"
    }
    </pre>
    <p><strong>Response:</strong></p>
    <pre>
    {
        "response": {
            "success": "Successfully added new user",
            "session_token": "your_session_token"
        }
    }
    </pre>
    <p><strong>Error Response:</strong></p>
    <pre>
    {
        "error": {
            "Missing Field": "Username and password are required"
        }
    }
    </pre>
    <pre>
    {
        "error": {
            "Duplicate Entry": "User already exists"
        }
    }
    </pre>

    <h3 id="delete_user">/delete_user</h3>
    <p><strong>Method:</strong> <code class="method">DELETE</code></p>
    <p><strong>Description:</strong> Deletes the currently logged-in user.</p>
    <p><strong>Headers:</strong></p>
    <pre>
    {
        "Authorization": "your_session_token"
    }
    </pre>
    <p><strong>Response:</strong></p>
    <pre>
    {
        "response": {
            "success": "successfully deleted your_username"
        }
    }
    </pre>
    <p><strong>Error Response:</strong></p>
    <pre>
    {
        "error":{
            "message": "Session token missing"
        }   
    }
    </pre>
    <pre>
    {
        "error": {
            "message": "Invalid session token" 
        } 
    }
    </pre>

    <h3 id="logout">/logout</h3>
    <p><strong>Method:</strong> <code class="method">POST</code></p>
    <p><strong>Description:</strong> Logs out the currently logged-in user.</p>
    <p><strong>Headers:</strong></p>
    <pre>
    {
        "Authorization": "your_session_token"
    }
    </pre>
    <p><strong>Response:</strong></p>
    <pre>
    {
        "response": {
            "success": "successfully logged out"
        }
    }
    </pre>
    <p><strong>Error Response:</strong></p>
    <pre>
    {
        "error": {
            "message": "Session token missing" 
        }
    }
    </pre>
    <pre>
    {
        "error": {
            "message": "Invalid session token" 
        } 
    }
    </pre>

    <h2 id="game_logic">Game Logic</h2>

    <h3 id="update_highscore">/update_highscore</h3>
    <p><strong>Method:</strong> <code class="method">POST</code></p>
    <p>
      <strong>Description:</strong> Updates the high score for the currently
      logged-in user.
    </p>
    <p><strong>Headers:</strong></p>
    <pre>
    {
        "Authorization": "your_session_token"
    }
    </pre>
    <p><strong>Request Body:</strong></p>
    <pre>
    {
        "score": "your_new_score" 
    }
    </pre>
    <p><strong>Response:</strong></p>
    <pre>
    {
        "response": {
            "success": "successfully updated the user's score"
        }
    }
    </pre>
    <p><strong>Error Response:</strong></p>
    <pre>
    {
        "error": {
            "message": "there was an error with the score provided. Please check"
        }
    }
    </pre>
    <pre>
    {
        "error": {
            "message": "score is not new high score"
        }
    }
    </pre>
    <pre>
    {
        "error": {
            "message": "Session token missing" 
        }
    }
    </pre>
    <pre>
    {
        "error": {
            "message": "Invalid session token" 
        }
    }
    </pre>
    <h3 id="highscore">/highscore</h3>
    <p><strong>Method:</strong> <code class="method">GET</code></p>
    <p><strong>Description:</strong> Retrieves high scores.</p>

    <p><strong>Query Parameters:</strong></p>
    <ul>
      <li>
        <code>username</code> (optional): The username of a specific user to
        retrieve the high score for.
      </li>
      <li>
        <code>offset</code> (optional, default=0): The number of high scores to
        skip before starting to fetch.
      </li>
      <li>
        <code>limit</code> (optional, default=10): The maximum number of high
        scores to return.
      </li>
    </ul>

    <p><strong>Response (All High Scores):</strong></p>
    <pre>
{
  "response": {
    "highscores": [
      { "username": "user1", "highscore": 1500 },
      { "username": "user2", "highscore": 1200 },
      // ... more high scores
    ]
  }
}
</pre
    >

    <p><strong>Response (Single User):</strong></p>
    <pre>
{
  "response": {
    "username": "user1",
    "highscore": 1500
  }
}
</pre
    >

    <p><strong>Error Response:</strong></p>
    <pre>
{
  "error": {
    "message": "user does not exist"
  }
}
</pre
    >
  </body>
</html>
